html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*
    КОЛЬОРИ СЛАЙДІВ
*/
.pinkBack{
    background-color: #F3D9FF;
    width: 100vw;
    height: 100vh;
}
.blueBack{
    background-color: #D0F9FF;
    width: 100vw;
    height: 100vh;
}
.orangeBack{
    background-color: #FFF7EE;
    width: 100vw;
    height: 100vh;
}
/*
    Шрифти
*/
.semi{
    font-weight: 700;
    font-size: 85px;
    text-align: center;
    padding-top: 2%;
}
.regular{
    font-size: 50px;
    text-align: center;
    padding-top: 1%;
}
.question{
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    padding-top: 4%;
}
/*
    КНОПКИ
 */
.button{
    width: 20%;
    height: 10%;
    border-radius: 10px;
    background-color: #CD62FF;
    border-color: #CD62FF;
    font-size: 45px;
    color: #ffffff;
}

.button:hover{
    box-shadow: 10px 5px 5px #6D00A0;
    text-shadow: 1px 1px 2px black, 0 0 25px #F3D9FF, 0 0 5px #6D00A0;
}
.firstAnswer:hover, .secondAnswer:hover, .thirdAnswer:hover, .forthAnswer:hover{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.34);
}
/*
    Слайд 2
 */
.motherColor{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 25%;
    top: 45%;
    background: #FFF7EE;
}

.fatherColor{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 60%;
    top: 45%;
    background: #D0F9FF;
}
/*
    Слайд 3
 */
.firstAnswer, .secondAnswer, .thirdAnswer, .forthAnswer{
    background: #48E8FF;
    border-radius: 50px;
    width: 463px;
    height: 190px;
    position: absolute;
}
.firstAnswer{
    left: 15%;
    top: 35%;
}
.secondAnswer{
    right: 15%;
    top: 35%;
}

.thirdAnswer{
    left: 15%;
    top: 70%;
}
.forthAnswer{
    right: 15%;;
    top: 70%;
}
/*
    Слайд 15
 */
.congratulation{
    font-size: 60px;
    padding: 5%;
}

